@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #f1f6fc31;
}
section,
footer {
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: #000000d3;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color:#19e213;
    color: black;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    margin: 15px 0;
}

.btn:hover{
    background-color:#1e9b1a;
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    /*menu colorido
    background-color: #00000071;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 20px;
    box-sizing: border-box; */
    /* */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;    
}
nav ul a:not(.btn)::after{
    content: "";
    background-color: #19e213;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.5s;
}
nav ul a:hover::after{
    width: 100%;
}
/*mobile*/
/*menu*/
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}
/*fim mobile*/
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
    text-transform: uppercase;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
    margin: 1px 0;
}
/* faca mais */
.faca-mais .container{
    display: flex;
    align-items: center;
}
.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais.text h3{
    font-size: 56px;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px;
}
.faca-mais .faca-mais-img{
    width: 50%;
}
.faca-mais .faca-mais-img img{
    width: 100%;
    border-radius: 10px;
}
.depoimentos h3{
    text-align: center;
}
.depoimentos p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
.depoimentos .card-item{
    background-color: #d3fdd6;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
}
.depoimentos .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}
.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.1s;
}
.depoimentos .card-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.1s;
}
.depoimentos .card-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #717a7123;
}
.depoimentos .card-item .estrelas i{
    color: #19e213;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.1s;
}
.depoimentos .card-item:hover{
    background-color: #19e213;
    margin-top: -5px;
}
.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i{
    color: white;
}
/* parceiros */
.parceiros h3,
.parceiros p{
    text-align: center;
}
.parceiros .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.parceiros .container img{
    width: 250px;
}
/* footer */
.footer{
    background-color:#19e213;
    text-align: center;
    font-weight: 450;
}
.footer i{
    font-size: 20px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
/*agricultura sustentável*/
.as .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.as .as-text p{
    margin: 18px 0;
    color: #000000d3;
    text-align: justify;
}
.as .as-text{
    width: 50%;
    padding-right: 40px;
    padding-left: 40px;
}
.as .as-img{
    width: 50%;

}
.as .as-img img{
    width: 100%;
    border-radius: 10px;
}
/* cultivos eficientes */
.cultivos-eficientes h3{
    text-align: center;
}
.cultivos-eficientes .container > p{
    text-align: center;
}
.cultivos-eficientes .cultivos-text{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}
.cultivos-eficientes .cultivos-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.cultivos-eficientes .cultivos-cards-item{
    background-color: #d3fdd6;
    text-align: justify;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;
}
.cultivos-eficientes .cultivos-cards-item:hover{
    background-color: #19e213;
}
.cultivos-eficientes .cultivos-cards-item:hover p{
    color: white;
}
.cultivos-eficientes .cultivos-cards-item img{
    background-color: #19e213;
    border-radius: 15px;
    width: 70px;
    padding: 9px;
}
.cultivos-eficientes .cultivos-cards-item p.nome-cultivos{
    margin: 5px 0;
    transition: 0.3s;
}
.cultivos-eficientes .cultivos-cards-item p.descricao-cultivos{
    transition: 0.3s;
}
/* contato */

/*mobile*/
@media(max-width: 830px){
/* menu mobile*/
.ul{
    position: fixed;
    top: 0;
    left: 0;
    background: green;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
    transition: 0.7s;
}
.ul.open{
    clip-path: circle(141.2% at 100% 0);
}
.ul a{
    margin: 10px 0;
    font-size: 16px;
}
nav .menu-icon{
    display: block;
}
nav .close-icon{
    display: block;
    position: absolute;
    top: 46px;
    right: 28px;
}
}